/* khora-athens.org by extrapolo.com */

/* @font-face {
    font-family: Atlas;
    src: url("../fonts/AtlasTypewriter-Thin.otf") format("opentype");
} */

body {
  padding: 30px;
  margin: 0px;
  min-width: 800px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt;
  color: black;
  line-height: 16.5pt;
  background-color: white;
}

.logo{
  width: 150px;
}
.menu{
  float: right;
  padding-top: 60px;
}
.menu>a{
  padding-right: 10px;
}

#content{
  padding-top: 30px;
  max-width: 800px;
  margin: 0px auto;
}
#content>p{
  padding-bottom:30px;
}
#content>img{
  padding-bottom:30px;
  width:100%;
}

.bold{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.full{
  width: 100%;
  text-align: center;
}
iframe{
  border:0px
}

a,p{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  letter-spacing: .03em;
}

a{
  color: #91a9a1;
  text-decoration: none;
  font-size: 12px;
  user-select: none;
  text-transform: uppercase;
  letter-spacing: .1em;
}
a:hover{
  text-decoration: none;
  color: black;
}

/* apply http://pleeease.io/play/ on final css to enhance variations and minify */
